.mainSection {
    margin-top: 24px;
    margin-left: 32px;
    h2 {
        margin-bottom: 16px;
    }
    ul {
        display: flex;
        margin-bottom: 32px;
        li {
            background-color: #191919;
            padding: 16px;
            margin-right: 16px;
            border-radius: 5px;
            width: 212px;
            transition: 0.5s;
            div {
                width: 180px;
                height: 180px;
                background-color: #111;
                overflow: hidden;
                img {
                    width: 150%;
                    height: 100%;
                }
            }
            h3 {
                padding: 8px 0;
            }
            &:hover {
                background-color: #393939;
            }
        }
    }
}