#listSection {
    height: 280px;
    display: flex;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
    img {
        width: 250px;
        height: 250px;
        box-shadow: 0px 0px 30px #3e403f;
    }
    button {
        margin-top: 24px;
        margin-right: 16px;
        padding: 5px 10px;
        background-color: #fff;
        border-radius: 5px;
        border: 1px solid #fff;
        font-weight: bold;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
}

#listTitle {
    margin-left: 3%;
    h2 {
        font-size: 64px;
        margin: 8px 0;
        text-shadow: 0px 0px 40px #6c6d70;
    }
}

#playlistTable {
    width: 100%;
    text-align: left;
    th {
        border-bottom: 1px solid #fff;
        padding: 16px 8px;
    } 
    tbody {
        tr {
            td {
                padding: 8px;
            }
            svg {
                font-size: 20px;
                opacity: 0;
                transition: 0.5s;
                cursor: pointer;
                &:hover {
                    color: red;
                }
            }
            &:hover {
                border-radius: 5px;
                box-shadow: 0 0 0 1px #393939;
                background-color: #393939;
                svg {
                    opacity: 1;
                }
            }
        }
        .songTitle {
            display: flex;
            align-items: center;
            img {
                width: 50px;
                margin-right: 16px;
            }
            a {
                text-decoration: underline;
            }
        }
    }
}