.formStyle {
    h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 40px;
    }
    .formDiv {
        width: 700px;
        margin: 0 auto;
        .formItem {
            display: flex;
            padding-left: 24px;
            margin: 24px;
            .form-label {
                width: 200px;
                display: flex;
                align-items: center;
                height: 100%;
            }
            .ant-form-item-explain-error {
                color: red;
            }
        }
        .btnArea {
            align-items: center;
            justify-content: center;
            margin-top: 40px;
        }
    }
    button {
        padding: 8px 16px;
        border-radius: 5px;
        background-color: #fff;
        color: #111;
        border: 1px solid #fff;
        font-weight: bold;
        font-size: 14px;
        &:nth-of-type(1) {
            margin-right: 40px;
        }
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
    input {
        width: 400px;
        padding: 8px;
        line-height: 20px;
        border-radius: 5px;
        font-size: 16px;
    }
    textarea {
        width: 400px;
        height: 100px;
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
    }
    select {
        font-size: 16px;
        border-radius: 5px;
        padding: 8px;
        margin-right: 16px;
    }
    .imgPreview {
        margin-top: 16px;
        width: 200px;
        height: 200px;
        background-color: #111;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 200px;
        }
    }
}

.tags {
    span {
        display: inline-block;
        margin-bottom: 8px;
    }
    .tagSelect {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        h4 {
            margin-right: 24px;
        }
    }
}

.songForm {
    #TagDesc {
        font-weight: normal;
        font-size: 14px;
    }
}

.originalImg {
    display: inline-block;
    margin-top: 16px;
    input {
        width: 30px;
    }
}

/* 1024px 이하일때 */
@media screen and (max-width: 1024px) {
    .formStyle {
        .formDiv {
            width: 90%;
        }
        input {
            width: 35vw;
        }
        textarea {
            width: 35vw;
        }
    }
    .originalImg {
        input {
            width: 30px;
        }
    }
}

/* 840px 이하일때 */
@media screen and (max-width: 840px) {
    .formStyle {
        .formDiv {
            width: 100%;
            .formItem {
                .form-label {
                    width: 150px;
                    margin-right: 16px;
                    font-size: 16px;
                }
            }
        }
        .imgPreview {
            width: 150px;
            height: 150px;
        }
        input {
            width: 50vw;
        }
        textarea {
            width: 50vw;
        }
        select {
            &:nth-of-type(1) {
                margin-bottom: 16px;
            }
        }
    }
    .originalImg {
        input {
            width: 30px;
        }
    }
}

// 500px 이하일때 
@media screen and (max-width: 500px) {
    .formStyle {
        .formDiv {
            .formItem {
                padding: 0;
                .form-label {
                    width: 100px;
                }
            }
        }
    }
    .songForm {
        .formItem {
            margin: 12px;
        }
        select {
            font-size: 13px;
        } 
        h4 {
            margin-right: 8px;
        }
    }
}