.formStyle {
    h2 {
        text-align: center;
        font-size: 32px;
        margin-bottom: 40px;
    }
    .formDiv {
        width: 60%;
        margin: 0 auto;
        .formItem {
            display: flex;
            margin: 16px;
            .form-label {
                width: 200px;
                display: flex;
                align-items: center;
                height: 100%;
            }
            .ant-form-item-explain-error {
                color: red;
            }
        }
        .btnArea {
            align-items: center;
            justify-content: center;
            margin-top: 32px;
        }
    }
    button {
        padding: 8px 16px;
        border-radius: 5px;
        margin-right: 40px;
        background-color: #fff;
        color: #111;
        border: 1px solid #fff;
        font-weight: bold;
        font-size: 14px;
        &:hover {
            background-color: transparent;
            color: #fff;
        }
    }
    input {
        width: 400px;
        padding: 8px;
        line-height: 20px;
        border-radius: 5px;
        font-size: 16px;
    }
    textarea {
        width: 400px;
        height: 100px;
        padding: 8px;
        font-size: 16px;
        border-radius: 5px;
    }
    select {
        font-size: 16px;
        border-radius: 5px;
        padding: 8px;
        margin-right: 16px;
    }
    .imgPreview {
        margin-top: 16px;
        width: 200px;
        height: 200px;
        background-color: #111;
        // background-color: #000000;
        // background-image: linear-gradient(147deg, #000000 0%, #434343 84%);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        img {
            width: 200px;
        }
    }
}

.tags {
    .tagSelect {
        display: flex;
        align-items: center;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        h4 {
            margin-right: 24px;
        }
    }
}

#addMain {
    #TagDesc {
        font-weight: normal;
        font-size: 14px;
    }
    strong {
        margin-right: 16px;
    }
}

#originalImg {
    display: inline-block;
    margin-top: 16px;
    input {
        width: 30px;
    }
}
