* { margin: 0; padding: 0; box-sizing: border-box; }
li { list-style: none; }
a { text-decoration: none; color: inherit; }
table { border-collapse: collapse; }
input, textarea, select, button { outline: none; border: none; }
button { cursor: pointer; }

.App {
    color: #fff;
    font-size: 14px;
    line-height: 1.5;
}

/* header */
header {
    position: fixed;
    left: 0;
    top: 0;
    width: 20%;
    height: 100vh;
    background-color: #111;
    padding: 3%;
    z-index: 2;
    font-size: 1rem;
}
#toggle {
    display: none;
}
#headerMenu ul {
    margin-top: 40px;
}
#headerMenu ul li {
    margin: 16px 0;
}
#headerMenu ul li a {
    display: flex;
    align-items: center;
}
#headerMenu svg {
    font-size: 30px;
    margin-right: 16px;
}
/* header // */

/* nav */
#nav {
    height: 70px;
    width: 80%;
    background-color: #121212;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}
#nav ul {
    margin-left: 32px;
    height: 70px;
    display: flex;
    align-items: center;
}
#nav ul li {
    width: 35px;
    height: 35px;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 50%;
    cursor: pointer;
}
#nav svg {
    font-size: 20px;
}
/* nav // */

/* main */
main {
    width: 80%;
    float: right;
    min-height: 100vh;
    margin-top: 70px;
    z-index: -1;
    background: linear-gradient(to bottom, #2a2a2a, #121212);
    padding: 48px 32px 80px;
}
/* main // */

/* footer */
footer {
    min-height: 400px;
    width: 80%;
    float: right;
    background-color: #111;
    font-size: 14px;
    padding: 3%;
    color: gray;
}
#footerMenu-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#footerMenu-top > ul {
    display: flex;
}

#menuLists > li:not(:last-child) {
    margin-right: 100px;
}
.submenu {
    font-size: 1rem;
    margin-top: 16px;
    color: #fff;
}
.submenu > li {
    margin-bottom: 16px;
}
.submenu > li:hover {
    color: skyblue;
}

#socialIcons {
    font-size: 28px;
    color: #fff;
    margin-top: 40px;
}
#socialIcons li {
    width: 60px;
    height: 60px;
    background-color: #2a2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 16px;
}
#socialIcons li:hover svg {
    color: skyblue;
}

#footerMenu-bottom {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}
#footerMenu-bottom > ul {
    display: flex;
}
#footerMenu-bottom > ul li {
    margin-right: 24px;
}
/* footer // */


/* 1024px 이하일때 */
@media screen and (max-width: 1024px) {
    header {
        font-size: 14px;
    }
}

/* 840px 이하일때 */
@media screen and (max-width: 840px) {
    /* header */
    header {
        position: static;
        max-height: 80px;
        width: 100vw;
        padding: 0 5%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    header.on {
        max-height: 400px;
        transition: 0.5s;
    }
    #mobileDiv {
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }
    #toggle {
        display: block;
    }
    #toggle svg {
        font-size: 32px;
    }
    #headerMenu ul {
        margin: 32px 24px;
    }
    /* header // */

    /* nav */
    #nav {
        display: none;
    }
    /* nav // */

    /* main */
    main {
        width: 100%;
        margin-top: 0;
        padding-top: 32px;
    }
    /* main // */

    /* footer */
    footer {
        width: 100%;
        padding: 5%;
    }
    #footerMenu-top > ul {
        width: 100%;
        justify-content: center;
    }
    /* footer // */
}

/* 500px 이하일때 */
@media screen and (max-width: 500px) {
    .submenu {
        font-size: 14px;
    }
    #menuLists > li:not(:last-child) {
        margin-right: 50px;
    }
    #footerMenu-bottom {
        font-size: 10px;
    }
}